body {
    background-color: #F5F3EF;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Roboto Medium";
    font-size: 16;
    height: 19px;
}

.logo-image {
    height: 40px;
    width: 162px;
    justify-content: center;
    margin-right: 400px;
}

h3 {
    font-family: "Roboto";
    font-size: 24;
    font-style: bold;
}

a {
    text-decoration: none;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.header-button {
    width: 130px;
    height: 48px;
    left: 1230px;
    top: 26px;
    background: #000000;
    color: white;
    border-radius: 28px;
    font-family: "Roboto";
    font-weight: bold; 
    text-decoration: none;  
}

button {
    width: 143px;
    height: 48px;
    left: 40px;
    top: 236px;
    border: 1px solid #DCDCDC;
    border-radius: 50px;
    font-family: "Roboto";
    font-weight: bold;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
}

h1 {
    width: 600px;
    height: 150px;
    left: 80px;
    top: 108px;
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    margin-top: 10px;
}

.intro-text {
    
    padding-top: 10px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    
}

.intro-p {
    width: 600px;
    height: 128px;
    font-family: "Roboto";;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #646464; 
}

p {
    width: 320px;
    height: 112px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #646464;
    flex: none;
    order: 1;
    flex-grow: 0;
}

h3 {
    width: 75%;
    height: 28px;
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;

}

nav {
    margin: 5%;
    display: grid;
    align-items: center;
    
}

.explore {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-left: 50px;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 40px;
    background: #FEBD2F;
    border-radius: 40px;
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.chef {
    grid-row: 1;
    grid-column: 2;
    padding-left: 50px;
    gap: 32px;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
}

.essentials {
    grid-row: 1;
    grid-column: 3;
    padding-left: 50px;
    gap: 32px;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
}

.nutrition {
    grid-row: 2;
    grid-column: 1;
    padding-left: 50px;
    gap: 32px;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
}

.plant {
    grid-row: 2;
    grid-column: 2;
    padding-left: 50px;
    gap: 32px;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
}

.teens {
    grid-row: 2;
    grid-column: 3;
    padding-left: 50px;
    gap: 32px;
    width: 400px;
    height: 324px;
    left: 80px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
}

.knife-icon {
    position: absolute;
    bottom: 175px;
    padding-left: 200px;
}

.pot-icon {
    position: absolute;
    bottom: 175px;
    padding-left: 200px;
}

.clipboard-icon {
    position: absolute;
    bottom: -200px;
    padding-left: 200px;
}

.leaf-icon {
    position: absolute;
    bottom: -200px;
    padding-left: 200px;
}

.hamburger-icon {
    position: absolute;
    bottom: -200px;
    padding-left: 200px;
}

footer {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 1586px;
    background: #FEBD2F;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet */
@media screen and (max-width: 1500px){
    .logo-image{
        margin-right: 200px;
    }
    .intro-img {
        width: 688px;
        height: 360px;
        margin-right: 200px;
    }
    .intro {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .intro-text {
        text-align: center;
    }

    h1 {
        font-size: 48px;
    }

    .intro-p {
        font-size: 20px;
    }
    .explore {
        width: 332px;
        height: 271px;
        grid-row: 1;
        grid-column: 1;
    }

    nav {
        gap: 30px;
    }

    .chef {
        width: 332px;
        height: 271px;
        grid-row: 1;
        grid-column: 2;
    }

    .essentials {
        width: 332px;
        height: 271px;
        grid-row: 2;
        grid-column: 1;
    }

    .nutrition {
        width: 332px;
        height: 271px;
        grid-row: 2;
        grid-column: 2;
    }

    .plant {
        width: 332px;
        height: 271px;
        grid-row: 3;
        grid-column: 1;
    }

    .teens {
        width: 332px;
        height: 271px;
        grid-row: 3;
        grid-column: 2;
    }

    .knife-icon {
        position: absolute;
        bottom: -75px;
        padding-left: 100px;
}
    .pot-icon {
        position: absolute;
        bottom: -430px;
        padding-left: 100px;
    }

    .clipboard-icon {
        position: absolute;
        bottom: -430px;
        padding-left: 100px;
    }

    .leaf-icon {
        position: absolute;
        bottom: -730px;
        padding-left: 100px;
    }

    .hamburger-icon {
        position: absolute;
        bottom: -730px;
        padding-left: 100px;
    }
}

/* Mobile */
@media screen and (max-width: 600px){
   .intro-img {
    width: 342px;
    height: 220px;
    margin: 5%;
   }

   .logo-image{
    margin-right: 100px;
}

    .intro {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 5%;
}
    .intro-text {
    text-align: center;
    width: 100%;
}

    h1 {
    height: 126px;
    width: 342px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    width: 80%;
    padding-top: 10%;
    flex: 0, 1, auto;
}   

    .intro-p {
    font-size: 18px;
    line-height: 24px;
    width: 75%;
    padding-bottom: 20%;
    flex: 1, 1, auto;
}
    .explore {
    font-size: 24px;
    line-height: 28px;
    width: 342px;
    height: 132px;
    grid-row: 1;
    grid-column: 1;
}

    nav {
    gap: 30px;
}

    .chef {
    width: 342px;
    height: 247px;
    grid-row: 2;
    grid-column: 1;
}

    .essentials {
    width: 342px;
    height: 247px;
    grid-row: 3;
    grid-column: 1;
}

    .nutrition {
    width: 342px;
    height: 247px;
    grid-row: 4;
    grid-column: 1;
}

    .plant {
    width: 342px;
    height: 247px;
    grid-row: 5;
    grid-column: 1;
}

    .teens {
    width: 342px;
    height: 247px;
    grid-row: 6;
    grid-column: 1;
}

    .knife-icon {
    position: absolute;
    bottom: -225px;
    padding-left: 100px;
}
    .pot-icon {
    position: absolute;
    bottom: -510px;
    padding-left: 100px;
}

    .clipboard-icon {
    position: absolute;
    bottom: -790px;
    padding-left: 100px;
}

    .leaf-icon {
    position: absolute;
    bottom: -1070px;
    padding-left: 100px;
}

    .hamburger-icon {
    position: absolute;
    bottom: -1350px;
    padding-left: 100px;
}

    .button {
    width: 142px;
    height: 47px;
    }
}